Jefferson_County_Parcels.geojson

Jefferson_County_Parcels.csv

jeffco_env

merged_data_clean_bham.geojson
Jefferson_County_Parcels.geojson

.env

output.geojson

data_clean_extended.geojson
Parking.geojson